@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Ribeye&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

header h1{
    text-align: center;
    color: rgb(236, 51, 159);
    font-family: 'Limelight';
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:rgb(255, 223, 228) ;
}

 header{
    
 }


header h6 img {
    width: 130px;
    height: 100px;
    margin: 2%;
}

body {
    background-color: rgb(255, 255, 255);
}

body h4{
    margin: 1%;
}

main h2 {
    font-family: 'Ribeye';
    color: rgb(241, 68, 169);
    margin: 2%;
}

body p{
    margin: 2%;
}

footer{
    background-color: rgb(255, 223, 228);
    padding: 2%;
    margin-top: 1%;
    
}

footer img {
    width: 60px;
    height: 60px;
}